#toggle{
    width:50px;
    height:27px;
    border-radius:40px;
    position:absolute;
    -webkit-appearance: none;
    position:absolute;
    top:70%;
    left:35%;
    margin:-39px 0 0 -89px;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.4);
    background: -webkit-linear-gradient(#c6c6c6,#e3e3e3);
}
#toggle:checked{
    background: -webkit-linear-gradient(#7ff3c8,#56ddac);
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.4);
}
#toggle:before {
    content:"|||";
    letter-spacing:1px;
    color: rgba(0,0,0,.15);
    font-size:12px;
    font-weight:100;
    text-shadow:1px 1px 1px rgba(255,255,255,1);
    width:22px;
    height:22px;
    padding:1px 6px;
    top:3px;
    left:5px;
    position:absolute;
    border-radius:40px;
    background: -webkit-linear-gradient(#ebebeb,#f1f1f1);
    box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.2), -1px 1px 2px rgba(0, 0, 0, 0.3), inset 1px 1px 1px #ffffff;
    -webkit-transition: all 0.3s;
    
}
#toggle:checked:before {
    left:24px;
    background:#f1f1f1;
}
#toggle:after {
    content:"";
    width:14px;
    height:14px;
    top:7px;
    right:-22px;
    position:absolute;
    border-radius:40px;
    background: -webkit-linear-gradient(#fcc4c5,#dd3c3c);
    box-shadow: inset -1px -1px 4px #b41a1a, 
                inset 1px 1px 2px #e71d1d;			
}
#toggle:checked:after {
    background: -webkit-linear-gradient(#d8eec4,#1cc88a);
    box-shadow: inset -1px -1px 4px #19b87d, 
                inset 1px 1px 2px #27c78c;			
}